@using RealEstateAgency.Core.Models
@using RealEstateAgency.Core.Resources
@model List<UserViewModel>

@{
    ViewData["Title"] = UILabel.Users;
}

<div class="div-flex-center">
    <p>@UILabel.ManageUsers</p>
</div>
<a class="btn btn-table" role="button" asp-area="Admin" asp-controller="User" asp-action="AddUser">
    <i class="fas fa-user-plus"></i>
    @UILabel.AddUser
</a>
<div class="div-flex-center">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">@UILabel.UserName</th>
                <th scope="col">@UILabel.Email</th>
                <th scope="col">@UILabel.InRole</th>
                <th scope="col" style="width: 20%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                @if (user.InRole)
                {
                    <td>@UILabel.Yes</td>
                }
                else
                {
                    <td>@UILabel.No</td>
                }
                <td>
                    <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="User" asp-action="EditUser" asp-route-id="@user.UserId">
                        <i class="fas fa-edit"></i>
                        @UILabel.Edit
                    </a>
                    @if (user.IsLockedOut is false)
                    {
                        <form style="display: inline" method="post" asp-area="Admin" asp-controller="User" asp-action="UserLockout" asp-route-id="@user.UserId">
                            <input name="Id" value="@user.UserId" hidden/>
                            <button type="submit" class="btn btn-danger">
                                <span class="fas fa-lock"></span>
                                @UILabel.LockOut
                            </button>
                        </form>
                    }
                    else
                    {
                        <form style="display: inline" method="post" asp-area="Admin" asp-controller="User" asp-action="RemoveLockout" asp-route-id="@user.UserId">
                            <input name="Id" value="@user.UserId" hidden />
                            <button type="submit" class="btn btn-success">
                                <span class="fas fa-lock-open"></span>
                                @UILabel.RemoveLockOut
                            </button>
                        </form>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>