@model RealEstateAgency.Core.Models.AddEstateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Create Estate</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EstateName" class="control-label"></label>
                <input asp-for="EstateName" id="estate_name" class="form-control" />
                <span asp-validation-for="EstateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" id="address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rooms" class="control-label"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BathRooms" class="control-label"></label>
                <input asp-for="BathRooms" class="form-control" />
                <span asp-validation-for="BathRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balconies" class="control-label"></label>
                <input asp-for="Balconies" class="form-control" />
                <span asp-validation-for="Balconies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingSpaces" class="control-label"></label>
                <input asp-for="ParkingSpaces" class="form-control" />
                <span asp-validation-for="ParkingSpaces" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TotalArea" class="control-label"></label>
                <input asp-for="TotalArea" class="form-control" />
                <span asp-validation-for="TotalArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivingArea" class="control-label"></label>
                <input asp-for="LivingArea" class="form-control" />
                <span asp-validation-for="LivingArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KitchenArea" class="control-label"></label>
                <input asp-for="KitchenArea" class="form-control" />
                <span asp-validation-for="KitchenArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentUserId" class="control-label"></label>
                <select asp-for="AgentUserId" class="form-select" asp-items="ViewBag.AgentUserId"></select>
                <span asp-validation-for="AgentUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingPlanId" class="control-label"></label>
                <select asp-for="BuildingPlanId" class="form-select" asp-items="ViewBag.BuildingPlanId"></select>
                <span asp-validation-for="BuildingPlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingTypeId" class="control-label"></label>
                <select asp-for="BuildingTypeId" class="form-select" asp-items="ViewBag.BuildingTypeId"></select>
                <span asp-validation-for="BuildingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneId" class="control-label"></label>
                <select asp-for="ZoneId" class="form-select" asp-items="ViewBag.ZoneId"></select>
                <span asp-validation-for="ZoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstateConditionId" class="control-label"></label>
                <select asp-for="EstateConditionId" class="form-select" asp-items="ViewBag.EstateConditionId"></select>
                <span asp-validation-for="EstateConditionId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Tags" class="control-label"></label>
        <input asp-for="Tags" class="form-control" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <textarea rows="4" asp-for="Description" placeholder="Description..." class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <fieldset class="group">
            <ul class="checkbox">
                @for (int i = 0; i < Model.EstateOptionViewModels.Count(); i++)
                {
                    <li><input type="hidden" asp-for="@Model.EstateOptionViewModels[i].Id" />
                    <input type="hidden" asp-for="@Model.EstateOptionViewModels[i].EstateOptionName" />
                    <input type="checkbox" asp-for="@Model.EstateOptionViewModels[i].IsSet" />
                    <label asp-for="@Model.EstateOptionViewModels[i].IsSet">@Model.EstateOptionViewModels[i].EstateOptionName</label></li>
                }
            </ul> 
        </fieldset> 
    </div>
    <div class="card">
        <div class="top">
            <p>Photos</p>
        </div>
        <div class="drag-area">
            <span class="visible">
                Drag & drop image here or
                <span class="select" role="button">Browse</span>
            </span>
            <span class="on-drop">Drop images here</span>
            <input asp-for="@Model.File" name="file" type="file" class="file" multiple />
        </div>

        <div id="image_container" class="image_container"></div>
    </div>
    <div id="estate_map" class="estate-map">
    </div>
    <a class="btn btn-primary" role="button" onclick="initMap()">Show map</a>
    <div class="form-group row p-2">
        <input type="submit" value="Save" class="btn btn-primary col m-1" />
        <a class="btn btn-primary col m-1" role="button" asp-action="Index">Back to List</a>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
    <script async defer src="~/js/mapscript.js" asp-append-version="true"></script>
    <script async defer src="~/js/dragarea.js" asp-append-version="true"></script>
}
