@model IEnumerable<RealEstateAgency.Core.Models.EstateViewModel>
@using RealEstateAgency.Core.Resources

@{
    ViewData["Title"] = UILabel.Estates;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="div-flex-center">
    <p>@UILabel.ManageEstates</p>
</div>

<a class="btn btn-table" asp-action="Create"><i class="fas fa-plus"></i> @UILabel.CreateNew</a>
<div class="table-card">
    <table class="table table-bordered table-hover table-sm" id="estateTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EstateName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Agent)
                </th>
                <th style="width: 15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Agent)
                    </td>
                    <td>
                        <div class="">
                            <a class="btn btn-primary d-block mb-1" role="button" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-angle-double-right" aria-hidden="true"></i> @UILabel.Details</a>
                            <a class="btn btn-secondary d-block mb-1" role="button" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> @UILabel.Edit</a>
                            <a class="btn btn-danger d-block mb-1" role="button" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i> @UILabel.Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.13.1/b-2.3.3/fc-4.2.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.js"></script>
    <script src="~/js/datatables.js" asp-append-version="true"></script>
}
