@using RealEstateAgency.Core.Models
@using RealEstateAgency.Core.Resources
@model List<RoleViewModel>

@{
    ViewData["Title"] = UILabel.Roles;
}

<div class="div-flex-center">
    <p>@UILabel.ManageRoles</p>
</div>
<div class="div-flex-center">
    <div style="width: 100%">
        <a class="btn btn-table" role="button" asp-area="Admin" asp-controller="Role" asp-action="AddRole">
            <i class="fas fa-plus"></i>
            @UILabel.AddRole
        </a>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">@UILabel.RoleName</th>
                    <th scope="col">@UILabel.IsSet</th>
                    <th scope="col" style="width: 15%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.RoleName</td>
                        @if (role.IsSet)
                        {
                            <td>@UILabel.Yes</td>
                        }
                        else
                        {
                            <td>@UILabel.No</td>
                        }
                        <td>
                            <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="Role" asp-action="EditRole" asp-route-id="@role.RoleId">
                                <i class="fas fa-edit"></i>
                                @UILabel.Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>