@model RealEstateAgencyMVC.Areas.Admin.Models.AddUserViewModel

@{
    ViewData["Title"] = "AddUser";
}

<div class="div-flex-center">
    <h1>AddUser</h1>
    <hr />
</div>
<div class="div-flex-center">
    <div class="col-md-4">
        <form method="post" asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-block">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="d-block">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-block">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-block">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-block">
                @for (int i = 0; i < Model.RoleViewModels.Count(); i++)
                {
                    <input type="hidden" asp-for="@Model.RoleViewModels[i].RoleId" />
                    <input type="hidden" asp-for="@Model.RoleViewModels[i].RoleName" />
                    <input type="checkbox" asp-for="@Model.RoleViewModels[i].IsSet" />
                    <label asp-for="@Model.RoleViewModels[i].IsSet">@Model.RoleViewModels[i].RoleName</label>
                }
            </div>
            <div class="d-block">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ManageUsers" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
